/* Here you can put your custom styles that will be appended to the output css file */

/* top bar text in white */

#layout > div > .header {
	color: #fff;
}

.menu.toolbar a {
	color: #fff;
}


#layout > div > .header a.button {
	color: #fff;
}


/* login page */

.task-login #logo {
        filter: invert(91%) sepia(52%) saturate(2742%) hue-rotate(312deg) brightness(95%) contrast(93%);
}

